html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  position: absolute;
  height: 650px;
  width: 400px;
  border: 2px solid #D4D4D4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.output {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  background-color: #DEDEDE;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-bottom: 2px solid #D4D4D4;
  font-weight: bold;
}

.input {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

button  {
  margin: 0;
  padding: 0;
  border: none;
  width: 25%;
  font-size: 1.2rem;
  background-color: #F5F5F5;
  border-right: 2px solid #DEDEDE;
  border-bottom: 2px solid #DEDEDE;
}

button:hover {
  cursor: pointer;
  background-color: #D4D4D4;
}

button:active {
  background-color: #C1C1C1;
}

button:nth-child(4n) {
  border-right: none;
}

button:nth-last-child(-n+4) {
  border-bottom: none;
}

.btn-dark {
  background-color: #ECECEC;
}

.btn-equals {
  background-color: #CAE5FF;
}

.btn-equals:hover {
  background-color: #99CCFF;
}

.btn-equals:active {
  background-color: #6699CC;
}

.number {
  background-color: #E0FBFC;
}